# secrets
.env
.env.*
!.env.example

# node
node_modules/
.next/
out/
dist/
*.tsbuildinfo

# platformio
device/secrets.ini
device/.pio/
.pio/
device/.vscode/

# broker
broker/mosquitto-data/

# firebase
.firebase/
cloud/firebase/.firebaserc
cloud/firebase/service-account.json 
*-debug.log
